table{
	border-collapse: collapse;
}


.misDatos{
	width: 670px;
	float:left;
	margin-left: 530px;
	margin-top: 100px;
}
.opcionesDatos{
	
	width:1200px;
	float:left;
	border-top-width: 10px;
}

.opDatos{
	padding-top: 30px;
	padding-bottom: 20px;
	width:295px;
	float:left;
	color:white;
	text-align: center;
	cursor:pointer;
}

.op1{
	width:195px;
	float:left;
	text-align: center;
	color:white;
	padding-bottom: 20px;
	padding-top: 20px;
}
.op2{
	width:995px;
	float:left;
	text-align: center;
	color:white;
	padding-top: 20px;
	padding-bottom: 20px; 
}
.op21{
	width:195px;
	float:left;
	text-align: center;
	color:white;
	padding-top: 20px;
	padding-bottom: 20px; 
}
.op123{
	width:158px;
	float:left;
	padding-left: 20px;
	padding-right: 20px;
	color:white;
	padding-top: 20px;
	padding-bottom: 19px; 
}

.op1234{
	width:276px;
	float:left;
	padding-left: 20px;
	color:white;
	padding-top: 20px;
	
}
.op3{
	width:295px;
	float:left;
	text-align: center;
	color:white;
	padding-top: 23px;
	padding-bottom: 14px; 
}
.modificar{

	
	cursor:pointer;
	color:red;
	  border-top: 1px solid #de5259;
   background: #d66578;
   background: -webkit-gradient(linear, left top, left bottom, from(#730816), to(#d66578));
   background: -webkit-linear-gradient(top, #730816, #d66578);
   background: -moz-linear-gradient(top, #730816, #d66578);
   background: -ms-linear-gradient(top, #730816, #d66578);
   background: -o-linear-gradient(top, #730816, #d66578);
   padding: 2px 4px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
}

.modificar:hover{
	border-top-color: #9c0f24;
	background: #9c0f24;
	color: #ccc;
}


.borrarUsuario1{
	text-align: center;
	width:1200px;
	padding-bottom: 20px;
	padding-top: 20px;
}
